# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [9]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [10]:
# Your code here:
chicago = pd.read_csv("../hypothesis_testing_dataset.csv")
chicago

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [11]:
# Your code here:
chicago.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [21]:
# Your code here:
null = chicago.isnull().sum().sum()
print("data null:")
null

data null:

58344

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [35]:
# Your code here:

chicago['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [45]:
# Your code here:
chicago.groupby('Department').count()
chicago.groupby('Job Titles').count()

,Name,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Job Titles,,,,,,,
1ST DEPUTY INSPECTOR GENERAL,1,1,1,1,0,1,0
A/SUPRV REDISTRICTING,2,2,2,2,0,2,0
ACCIDENT ADJUSTER,5,5,5,5,0,5,0
ACCOUNTANT I,10,10,10,10,0,10,0
ACCOUNTANT II,24,24,24,24,0,24,0
...,...,...,...,...,...,...,...
WINDOW WASHER,6,6,6,6,6,0,6
YOUTH SERVICES COORD,8,8,8,8,0,8,0
ZONING ADMINISTRATOR,1,1,1,1,0,1,0
ZONING INVESTIGATOR,2,2,2,2,0,2,0
ZONING PLAN EXAMINER,6,6,6,6,0,6,0

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [50]:
# Your code here:
workers = chicago[chicago['Salary or Hourly']=='Hourly']
print("workers - Salary or Hourly:", workers)


hourly_wage_all_workers = hourly_workers['Hourly Rate'].to_list()

print("hourly -workers std:", hourly_workers['Hourly Rate'].std())

workers - Salary or Hourly:                          Name                      Job Titles  \
4           ABASCAL,  REECE E     TRAFFIC CONTROL AIDE-HOURLY
6       ABBATACOLA,  ROBERT J             ELECTRICAL MECHANIC
7          ABBATE,  JOSEPH L          POOL MOTOR TRUCK DRIVER
10           ABBOTT,  BETTY L              FOSTER GRANDPARENT
18       ABDULLAH,  LAKENYA N                  CROSSING GUARD
...                       ...                             ...
33164        ZUREK,  FRANCIS              ELECTRICAL MECHANIC
33168  ZWARYCZ MANN,  IRENE A                  CROSSING GUARD
33169      ZWARYCZ,  THOMAS J         POOL MOTOR TRUCK DRIVER
33174        ZYGADLO,  JOHN P          MACHINIST (AUTOMOTIVE)
33175     ZYGADLO,  MICHAEL J  FRM OF MACHINISTS - AUTOMOTIVE

             Department Full or Part-Time Salary or Hourly  Typical Hours  \
4                  OEMC                 P           Hourly           20.0
6              AVIATION                 F           Hourly           40.0
7         STREETS & SAN                 F           Hourly           40.0
10     FAMILY & SUPPORT                 P           Hourly           20.0
18                 OEMC                 P           Hourly           20.0
...                 ...               ...              ...            ...
33164              OEMC                 F           Hourly           40.0
33168              OEMC                 P           Hourly           20.0
33169       WATER MGMNT                 F           Hourly           40.0
33174  GENERAL SERVICES                 F           Hourly           40.0
33175  GENERAL SERVICES                 F           Hourly           40.0

       Annual Salary  Hourly Rate
4                NaN        19.86
6                NaN        46.10
7                NaN        35.60
10               NaN         2.65
18               NaN        17.68
...              ...          ...
33164            NaN        46.10
33168            NaN        17.68
33169            NaN        35.60
33174            NaN        46.35
33175            NaN        48.85

[8022 rows x 8 columns]
hourly -workers std: 12.11257268427681

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [51]:
# Your code here:
print("no idea")

no idea

Using the `crosstab` function, find the department that has the most hourly workers.

In [52]:
# Your code here:
print("no idea")

no idea

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [53]:
# Your code here:
print("no idea")

no idea

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: